@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

* {
  /* border: solid 2px green; */
  text-align: center;
  font-family: 'Baloo Chettan', cursive;
}

body {
  background-color: rgb(77, 76, 76);
}

h1 {
  color: white;
  font-size: 60px;
}

h3 {
  color: white;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(224, 130, 120);
}


table {
  border-collapse: collapse;
  border-style: hidden;
  width: 40%;
  height: 50%;
  margin-top: 5em;
  border-radius: 2em;
  background-color: rgb(77, 76, 76);
  flex-direction: column;
}

table td {
  border: 8px solid white;
  height: 5em;
  width: 33%;
  border-radius: 2em;
}

.container {
  display: flex;
  justify-content: center;
  height: 26em;
}

i {
  font-size: 55px;
}

.fa-circle {
  color: rgb(30, 130, 222);
}

.fa-times {
  color: rgb(222, 23, 17); 
}

td:hover {
  background-color: rgb(71, 103, 89);
}

p {
  color: white;
  font-weight: bolder;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 2px;
}

.win-line {
  justify-content: center;
  display: flex;
  height: 26em;
  flex-grow: 1;
}

svg {
  z-index: 1;
  position: absolute;
  height: 26em;
  width: 40em;
}

rect {
  z-index: 100;
  height: 346px;
  x: 239.5;
  y: 44;
  animation-name: win;
  animation-duration: 4s;
}

@keyframes win {
  from {height: 0;}
  to {height: 346px;}
}

.down-middle {
  z-index: 100;
  height: 330px;
  x: 48.5%;
  y: 12%%;
  animation-name: win;
  animation-duration: 1s;
}

.down-left {
  z-index: 100;
  height: 330px;
  x: 19%;
  y: 12%;
  animation-name: win;
  animation-duration: 1s;
}

.down-right {
  z-index: 100;
  height: 330px;
  x: 78%;
  y: 12%;
  animation-name: win;
  animation-duration: 1s;
}

@keyframes win-middle {
  from {width: 0;}
  to {width: 600px;}
}

.side-top {
  z-index: 100;
  height: 16px;
  x: 3%;
  y: 27%;
  width: 600px;
  animation-name: win-middle;
  animation-duration: 1s;
}

.side-middle {
  z-index: 100;
  height: 16px;
  x: 3%;
  y: 48%;
  width: 600px;
  animation-name: win-middle;
  animation-duration: 1s;
}

.side-bottom {
  z-index: 100;
  height: 16px;
  x: 3%;
  y: 70%;
  width: 600px;
  animation-name: win-middle;
  animation-duration: 1s;
}

@keyframes win-diagonal {
  from {height: 0  ;}
  to {height: 594px;}
}

.diagonal-left {
    z-index: 100;
    height: 594px;
    x: 50.5%;
    y: -118%;
    animation-name: win-diagonal;
    animation-duration: 1s;
    transform: rotate(63deg);
}

.diagonal-right {
    z-index: 100;
    height: 594px;
    x: 4.5%;
    y: -163%;
    animation-name: win-diagonal;
    animation-duration: 1s;
    transform: rotate(117deg);
}

.button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  padding: 12px 28px;
  font-size: 16px;
  background-color: rgb(6, 101, 7);
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.score {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  padding: 12px 48px;
  font-size: 16px;
  background-color: rgb(205, 208, 52);
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8px;
}

span {
  height: 20px;
  max-width: : 50px;
  margin-left: 60px;
  overflow: hidden;
}

img {
  width: 70px;
  height: 20px;
}
